<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6 text-white">
            Employee Portal
          </div>
          <div class="col-6 text-right">

          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Name</th>
              <th>Contact No</th>
              <th>Email</th>
              <th>City</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employeeArray;let sr=index">
              <td>{{sr+1}}</td>
              <td>{{item.Empname}}</td>
              <td>{{item.EmpContactNo}}</td>
              <td>{{item.Empemail}}</td>
              <td>{{item.City}}</td>
              <td>
               
                <button class="btn btn-success btn-sm" (click)="onEdit(item.EmpId)" >Edit</button>
                <button class="btn btn-danger btn-sm mx-2" (click)="onDelete(item.EmpId)" >Delete</button>
              </td>
            </tr>
          </tbody>

        </table>

      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6 text-white">
           New Employee
          </div>
          <div class="col-6 text-right">
            
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-6">
              <label for="">Name</label>
              <input type="text" class="form-control" name="Empname" [(ngModel)]="employeeObj.Empname"> 
            </div>
            <div class="col-6">
              <label for="">ContactNo</label>
              <input type="text" class="form-control" name="EmpContactNo" [(ngModel)]="employeeObj.EmpContactNo"> 
            </div>
            <div class="col-6">
              <label for="">Email</label>
              <input type="text" class="form-control" name="Empemail" [(ngModel)]="employeeObj.Empemail"> 
            </div>
            <div class="col-6">
              <label for="">AddressLine1</label>
              <textarea name="AddressLine1"class="form-control" col="2" [(ngModel)]="employeeObj.AddressLine1"></textarea>
            </div>
            <div class="col-6">
              <label for="">AddressLine2</label>
              <textarea name="AddressLine2" class="form-control" col="2" [(ngModel)]="employeeObj.AddressLine2"></textarea>
            </div>
            <div class="col-6">
              <label for="">Pincode</label>
              <input type="text" class="form-control" name="Pincode" [(ngModel)]="employeeObj.Pincode"> 
            </div>
            <div class="col-6">
              <label for="">City</label>
              <input type="text" class="form-control" name="City" [(ngModel)]="employeeObj.City"> 
            </div>
            <div class="col-6">
              <label for="">State</label>
              <input type="text" class="form-control" name="State" [(ngModel)]="employeeObj.State"> 
            </div>
            <div class="col-6">
              <label for="">BankName</label>
              <input type="text" class="form-control" name="BankName" [(ngModel)]="employeeObj.BankName"> 
            </div>
            <div class="col-6">
              <label for="">Ifsc</label>
              <input type="text" class="form-control" name="Ifsc" [(ngModel)]="employeeObj.Ifsc"> 
            </div>
            <div class="col-6">
              <label for="">AccountNo</label>
              <input type="text" class="form-control" name="AccountNo" [(ngModel)]="employeeObj.AccountNo"> 
            </div>
            <div class="col-6">
              <label for="">BankBranch</label>
              <input type="text" class="form-control" name="BankBranch" [(ngModel)]="employeeObj.BankBranch"> 
            </div>
            <div class="col-6">
              <label for="">Salary</label>
              <input type="text" class="form-control" name="Salary" [(ngModel)]="employeeObj.Salary"> 
            </div>
            <div class="col-6">
              <label for="">Password</label>
              <input type="password" class="form-control" name="Password" [(ngModel)]="employeeObj.Password"> 
            </div>

          </div>
          <div class="row pt-3" >
            <div class="col-6 text-center">
              <button class="btn btn-secondary btn-sm">Reset</button>
            </div>
            <div class="col-6 text-center">
            
              <button class="btn btn-success btn-sm" *ngIf="employeeObj.EmpId == 0" (click)="onSave()"> Save Employee </button>
              <button class="btn btn-warning btn-sm" *ngIf="employeeObj.EmpId !== 0" (click)="onUpdate()"> Update Employee </button>
            </div>
           
          </div>
        </form>

      </div>

    </div>
  </div>
</div>