<div class="row">
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6 text-white">
            Employee Portal
          </div>
          <div class="col-6 text-right">

          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Name</th>
              <th>Contact No</th>
              <th>Email</th>
              <th>City</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employeeArray;let sr=index">
              <td>{{sr+1}}</td>
              <td>{{item.empName}}</td>
              <td>{{item.empContactNo}}</td>
              <td>{{item.empEmail}}</td>
              <td>{{item.empCity}}</td>
              <td>
                <button class="btn btn-success btn-sm" (click)="onEdit(item.empId)" >Edit</button>
                <button class="btn btn-danger btn-sm mx-2" (click)="onDelete(item.empId)" >Delete</button>
              </td>
            </tr>
          </tbody>

        </table>

      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-primary">
        <div class="row">
          <div class="col-6 text-white">
           New Employee
          </div>
          <div class="col-6 text-right">
            
          </div>
        </div>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-6">
              <label for="">Name</label>
              <input type="text" class="form-control" name="empName" [(ngModel)]="employeeObj.empName"> 
            </div>
            <div class="col-6">
              <label for="">ContactNo</label>
              <input type="text" class="form-control" name="empContactNo" [(ngModel)]="employeeObj.empContactNo"> 
            </div>
            <div class="col-6">
              <label for="">Email</label>
              <input type="text" class="form-control" name="empEmail" [(ngModel)]="employeeObj.empEmail"> 
            </div>
            <div class="col-6">
              <label for="">addressLine1</label>
              <textarea name="addressLine1"class="form-control" col="2" [(ngModel)]="employeeObj.addressLine1"></textarea>
            </div>
            <div class="col-6">
              <label for="">addressLine2</label>
              <textarea name="addressLine2" class="form-control" col="2" [(ngModel)]="employeeObj.addressLine2"></textarea>
            </div>
            <div class="col-6">
              <label for="">pincode</label>
              <input type="text" class="form-control" name="pincode" [(ngModel)]="employeeObj.pincode"> 
            </div>
            <div class="col-6">
              <label for="">city</label>
              <input type="text" class="form-control" name="city" [(ngModel)]="employeeObj.city"> 
            </div>
            <div class="col-6">
              <label for="">state</label>
              <input type="text" class="form-control" name="state" [(ngModel)]="employeeObj.state"> 
            </div>
            <div class="col-6">
              <label for="">bankName</label>
              <input type="text" class="form-control" name="bankName" [(ngModel)]="employeeObj.bankName"> 
            </div>
            <div class="col-6">
              <label for="">iFSC</label>
              <input type="text" class="form-control" name="iFSC" [(ngModel)]="employeeObj.iFSC"> 
            </div>
            <div class="col-6">
              <label for="">accountNo</label>
              <input type="text" class="form-control" name="accountNo" [(ngModel)]="employeeObj.accountNo"> 
            </div>
            <div class="col-6">
              <label for="">bankBranch</label>
              <input type="text" class="form-control" name="bankBranch" [(ngModel)]="employeeObj.bankBranch"> 
            </div>
            <div class="col-6">
              <label for="">salary</label>
              <input type="text" class="form-control" name="salary" [(ngModel)]="employeeObj.salary"> 
            </div>
          </div>
          <div class="row">
            <div class="col-6 text-center">
              <button class="btn btn-secondary btn-sm">Reset</button>
            </div>
            <div class="col-6 text-center">
              {{employeeObj.empId}}
              <button class="btn btn-success btn-sm" *ngIf="employeeObj.empId == 0" (click)="onSave()" >Save Employee</button>
              <button class="btn btn-warning btn-sm" *ngIf="employeeObj.empId !== 0" (click)="onUpdate()" >Update Employee</button>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</div>