<!--<div>
    <h2>Leave Request-Response</h2>
    <form (ngSubmit)="onSubmit()">
        <label for="Gender">Select Gender:</label>
        <select id="Gender" [(ngModel)]="Gender" name="Gender">
          <option *ngFor="let gender of Gender" [value]="gender">{{ gender }}</option>
            <option value="female">Female</option>
            <option value="male">Male</option>

        </select><br>

        <label for="leaveType">Leave Type:</label>
        <input type="text" id="leaveType" [(ngModel)]="leaveType" name="leaveType" required><br>

        <label for="Numberofdays">Numberofdays</label>
        <input type="text" id="Numberofdays" [(ngModel)]="Numberofdays" name="Numberofdays" required><br>


        <label for="command">Command</label>
        <textarea id="command" [(ngModel)]="command" name="command" required><br>

        label for="status">Status</label>
      <select id="status" [(ngModel)]="status" name="status">
      <option value="accept">Accept</option>
      <option value="reject">Reject</option>

  
      <button type="submit">Submit</button>
    </form>
  </div>-->