<div>
    <h2>Apply Leave</h2>
    <form (ngSubmit)="onSubmit(request)">
              <label for="">UserName</label>
        <span class="required-symbol">*</span>
      <input type="text" class="form-control" name="username" [(ngModel)]="username"> 

      <label for="">Name</label>
        <span class="required-symbol">*</span>
       <input type="text" class="form-control" name="Name" [(ngModel)]="Name">
  
      <label for="Gender">Select Gender:</label>
      <select id="Gender" [(ngModel)]="Gender" name="Gender">
      <!--<option *ngFor="let gender of Gender" [value]="gender">{{ gender }}</option>-->
      <option value="female">Female</option>
      <option value="male">Male</option>

      </select><br>
  
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" [(ngModel)]="startDate" name="startDate" required><br>
  
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" [(ngModel)]="endDate" name="endDate" required><br>
  
      <label for="leaveType">Leave Type:</label>
      <input type="text" id="leaveType" [(ngModel)]="leaveType" name="leaveType" required><br>

      <label for="Numberofdays">Numberofdays</label>
      <input type="text" id="Numberofdays" [(ngModel)]="Numberofdays" name="Numberofdays" required><br>

      <label for="Reason">Reason</label>
      <input type="text" id="Reason" [(ngModel)]="Reason" name="Reason" required><br>
      
      <label for="Replacementworker">Replacementworker</label>
      <input type="text" id="Replacementworker" [(ngModel)]="Replacementworker" name="Replacementworker" required><br>

  
      <button type="submit">Submit</button>
    </form>
  </div>
