<mat-nav-list>
    <div class="logo py-4">
       <img src="../../assets/images/logo.png">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">Applications</h2>
    <a mat-list-item routerLink="/home" routerActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerActive="list-item-active">
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item ><mat-icon>edit</mat-icon>Link 1</a>
    <a mat-list-item ><mat-icon>edit</mat-icon>Link 2</a>
    <a mat-list-item ><mat-icon>edit</mat-icon>Link 3</a>
    <a mat-list-item ><mat-icon>edit</mat-icon>Link 4</a>
    
</mat-nav-list>
